.preview_player-button {
  width: 35px;
  height: 35px;
  cursor: pointer;

  .preview_player-icon {
    margin-left: 2px;
    height: 16px;
    width: 16px;

    @media screen and (max-width: 730px) {
      height: 12px;
      width: 12px;
    }

    &:hover {
      fill: white;
    }
  }

  @media screen and (max-width: 730px) {
    width: 28px;
    height: 28px;
    font-size: 0.7rem;
  }
}
