h1 {
  font-weight: bold;
  font-size: clamp(1.25rem, 0.9859rem + 1.1268vw, 2rem);
  margin: 0.25rem 0;
}

h2 {
  font-size: clamp(2.5rem, 2.2rem + 1.28vw, 3rem);
  margin-bottom: 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  margin-bottom: 2rem;
  margin-top: -3rem;
  padding-top: 3rem;
}
